

.container{
    display: flex;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}
@media (min-width: 100px){
    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content:center ;
        align-items: center;
    }
    .board{
        width: 157.5px;
        height: 157.5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        border: 1px solid rgb(158, 63, 63);
        width: 52.5px;
        height: 52.5px;
        cursor: pointer;
    }
    .turno{
        width:150px;
        height:150px;
        display:flex;
        background-color: antiquewhite;
        margin-left: 10px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


@media (min-width: 360px){
    .board{
        width: 210px;
        height: 210px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        border: 1px solid rgb(158, 63, 63);
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .turno{
        width:150px;
        height:160px;
        display:fex;
        background-color: antiquewhite;
        margin-left: 10px;
    }
    
}
@media (min-width: 500px){
    .container{
        display: flex;
        
        height: 100vh;
        justify-content:center ;
        align-items: center;
    }
    .board{
        width: 315px;
        height: 315px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        border: 1px solid rgb(158, 63, 63);
        width: 105px;
        height: 105px;
        cursor: pointer;
    }
    .turno{
        width:300px;
        height:200px;
        display:fex;
        background-color: antiquewhite;
        margin-left: 10px;
        
        
    }
    
}
@media (min-width: 1300px){
    .container{
        display: flex;
        
        height: 100vh;
        justify-content:center ;
        align-items: center;
    }
    .board{
        width: 472.5px;
        height: 472.5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        border: 1px solid rgb(158, 63, 63);
        width: 157.5px;
        height: 157.5px;
        cursor: pointer;
    }
    .turno{
        width:300px;
        height:200px;
        display:fex;
        background-color: antiquewhite;
        margin-left: 10px;
        
        
    }
    
}



.reset{
    width: 100px;
    height: 100px;
    background-color: #37a62b;
}
.main-nav {
    grid-area: nav;
    background-color: #adc1e2;
    }




.tinfoturn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid rgb(158, 63, 63);
    width: 25px;
    
    cursor: pointer;
}
    
    
