.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.board{
    width: 315px;
    height: 315px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid rgb(158, 63, 63);
    width: 105px;
    height: 105px;
    cursor: pointer;
}
.reset{
    width: 100px;
    height: 100px;
    background-color: #37a62b;
}
.main-nav {
    grid-area: nav;
    background-color: #adc1e2;
    }



.turno{
    width:300px;
    height:300px;
    display:fex;
    background-color: antiquewhite;
    
    
}
.tinfoturn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid rgb(158, 63, 63);
    width: 25px;
    
    cursor: pointer;
}
    
    
